@import "../global.scss";

.FullBlog {
    margin:5px;
    padding-bottom: 50px;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top:30px;
        @media screen and (max-width:575px) {
            margin-top:0;
        }
        .UserAvatar {
            display: flex;
            align-items: center;
            margin:20px;
            @media screen and (max-width:575px) {
                margin:20px 0;
            }
            img {
                height: auto;
                border-radius: 50%;
                max-width: 50px;
                width: 100% auto;
            }
            strong {
                margin: 0 10px;
            }
            p {
                margin: 0 10px;
                color: gray;
                cite {
                    font-weight: 600;
                }
            }
        }
        .Actions{
            margin:20px;
            @media screen and (max-width:575px) {
                margin:20px 0;
            }
            button{
                margin:0 10px;
                box-shadow: 4px 5px 10px rgba(0,0,0,0.1);
            }
        }
    }
    article {
        margin-top: 20px;
        .CoverPhoto {
            border-radius: 20px;
        }
        .Title {
            font-size: 25px;
            font-family: "Poppins", sans-serif;
            margin: 30px 0;
            font-weight: 800;
            @media screen and (max-width:765px) {
                font-size: 20px;
            }
        }
        .descrip{
            color:rgb(85, 83, 83);
            font-size: 16px;
            letter-spacing: 0.5px;
            line-height: 25px;
            @media screen and (max-width:575px) {
                font-size: 14px;
            }
        }
    }

    .TeamRequestBtn{
        float:right;
        border-radius: 25px;
    }
    .Donate{
        margin: 50px 0;
        align-items: center;
        button{
            font-size: 14px;
            margin:0 10px;
            color:#fff;
            border:none;
        }
        .Phonepe{
            background-color: #6539B5;
        }
    }

    .Divider{
        margin:20px 0;
        margin-top: 100px;
        text-align: center;
        img{
            height:150px;
            border-radius: 50%;
            margin-top: -95px;
            padding:20px;
            background-color: #fff;
            @media screen and (max-width:765px) {
                height:100px;
                margin-top: -70px;
            }
        }
    }
    .SocialMedia{
        text-align: center;
        button{
            margin:10px;
            margin-left: 0;
            box-shadow: 4px 5px 10px rgba(0,0,0,0.1);
            @media screen and (max-width:575px) {
                font-size: 14px;
            }
        }
    }
}
